<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'bezeichnung'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
  <clr-dg-column>Leiter</clr-dg-column>
  <clr-dg-column>Mitglieder</clr-dg-column>
  <clr-dg-column>ArbeitsgruppenID</clr-dg-column>

  <clr-dg-placeholder>Lädt...</clr-dg-placeholder>

  <clr-dg-row *ngFor="let group of groups; let i = index">
    <clr-dg-cell>
      <div class="signpost-item" *ngIf="allowedToDelete" style="display: inline-block;">
        <clr-signpost (click)="deleteGroup(i)">
          <clr-icon shape="trash" class="is-danger has-badge-info" clrSignpostTrigger></clr-icon>
        </clr-signpost>
        <dashboard-remove-group [(opened)]="openModal[i]" [groupID]="group.arbeitsgruppenID" (refresh)="refresh.emit($event)"></dashboard-remove-group>
      </div>
      <a routerLink="/group/{{group.arbeitsgruppenID}}">
        {{group.bezeichnung}}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>
      <ng-container *ngIf="leaders[i]">
        <a routerLink="/employee/{{leaders[i].personalnummer}}">
          {{leaders[i] | employeeName}}
        </a>
        <clr-icon shape="check" class="is-success" *ngIf="leaders[i].erreichbar"></clr-icon>
        <clr-icon shape="times" class="is-error" *ngIf="!leaders[i].erreichbar"></clr-icon>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>
      <ng-container *ngIf="groupMembers[i]">
        <a routerLink="/employee/{{groupMembers[i]}}">
          {{groupMembers[i] | listEmployees}}
        </a>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>{{group.arbeitsgruppenID}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{groups.length}} Gruppen</clr-dg-footer>
</clr-datagrid>
