.dashboard-right-button-desktop {
  float: right;
  display: block;
}

.dashboard-right-button-mobile {
  display: none;
}

table {
  border: none;
  width: 100%;

  tr {
    text-align: left;

    td {
      text-align: left;
      width: 33%;

      form {
        margin: 0;
      }

      &:last {
          text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-right-button-desktop {
    display: none;
  }

  .dashboard-right-button-mobile {
    display: initial;
  }
}
