<div id="dashboard">

    <h2>Mitarbeiter</h2>
    <ng-container *ngIf="!isMobile">
        <dashboard-employees [employees]="employees"></dashboard-employees>
    </ng-container>
    <ng-container *ngIf="isMobile">
        <dashboard-panel [employees]="employees"></dashboard-panel>
    </ng-container>

    <br />
    <hr />
    <br />

    <ng-container *ngIf="['admin', 'root', 'personalabteilung'].includes(user.rechteklasse)">
        <h2>Arbeitsgruppen</h2>

        <ng-container *ngIf="['admin', 'root'].includes(user.rechteklasse)">
            <button class="btn" (click)="openWizard()">Arbeitsgruppe hinzufügen</button>
            <dashboard-add-group-wizard [(open)]="open"></dashboard-add-group-wizard>
        </ng-container>

        <ng-container *ngIf="['admin', 'root', 'personalabteilung'].includes(user.rechteklasse)">
            <button class="btn" (click)="reload()">Aktualisieren</button>
            <dashboard-groups [groups]="groups"></dashboard-groups>
        </ng-container>
    </ng-container>
</div>