<div class="login-wrapper">
    <form class="login" (ngSubmit)="validate()">
        <section class="title">
            <h3 class="welcome">Registrierung</h3>
            Company Product Name
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <clr-select-container>
                <label class="clr-sr-only">Rolle</label>
                <select clrSelect name="type" [(ngModel)]="form.type">
                    <option value="local">Local Users</option>
                    <option value="admin">Administrator</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label class="clr-sr-only">Vorname</label>
                <input type="text" name="username" clrInput placeholder="Vorname" [(ngModel)]="form.lastName"/>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">Nachname</label>
                <input type="text" name="username" clrInput placeholder="Nachname" [(ngModel)]="form.name"/>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-sr-only">E-Mail</label>
                <input type="text" name="username" clrInput placeholder="E-Mail" [(ngModel)]="form.email"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Passwort</label>
                <input type="password" name="password" clrPassword placeholder="Passwort" [(ngModel)]="form.password"/>
            </clr-password-container>
            <form-error [error]="err"></form-error>
            <button type="submit" class="btn btn-primary">Registrieren</button>
            <a href="/login" class="signup">Login</a>
        </div>
    </form>
</div>