.login-wrapper {
    //background-image: url(/assets/images/yourImage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
  
    .login {
      min-height: 70vh;
    }
  }
  