#dashboard-header {

  table {
    border: none;
    width: 100%;

    tr {
      text-align: left;
      width: 100%;

      td {
        
        form {
          margin: 0;
        }
      }
    }
  }

  .datagrid-input {
    white-space: nowrap;
  }
}
