<form clrForm [formGroup]="form" class="clr-form">

  <ng-container  *ngFor="let i of input">
    <clr-input-container>
      <label>{{i.label}}</label>
      <input clrInput formControlName="{{i.formControlName}}" type="{{i.type}}" />
      <clr-control-error *clrIfError="'required'">{{i.error.required}}</clr-control-error>
      <clr-control-error *clrIfError="'minlength'">{{i.error.minLength | json}}</clr-control-error>
      <clr-control-error *clrIfError="'passwordsNotEqual'">dfasdfiasdfgkl</clr-control-error>
    </clr-input-container>
  </ng-container>

  <br />
  
  <button class="btn" (click)="submit()">
    Ändern
  </button>
  <button class="btn" (click)="reset()">
    Abrrechen
  </button>
</form>

<h2>{{form.errors | json}}</h2>
<p>{{form.status}}</p>
