<div class="login-wrapper">
  <form class="login" (ngSubmit)="submit()">
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          Company Product Name
          <h5 class="hint">Use your Company ID to sign in or create one now</h5>
      </section>
      <div class="login-group">
          <clr-input-container>
              <label class="clr-sr-only">Benutzername</label>
              <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username"/>
          </clr-input-container>
          <clr-password-container>
              <label class="clr-sr-only">Passwort</label>
              <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
          </clr-password-container>
          <form-error [error]="err"></form-error>
          <button type="submit" class="btn btn-primary">Abschicken</button>
          <a routerLink="/register" class="signup">Registrieren</a>
      </div>
  </form>
</div>