#employee-stats {
  text-align: left;
  width: 100%;

  #employee-stats-header {
    text-align: center;
  }

  table {
    border: none;
    width: 100%;
    text-align: center;

    tr {
      text-align: left;

      td {
        text-align: left;
        width: 50%;

        .signpost-right {
          display: inline-block;
        }
      }
    }
  }

  #employee-stats-footer {
      text-align: center;
  }
}
