.wrapper {
    overflow: hidden; 

    .left {
        float:left;
        width: 40%;
    }

    .right {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        .left, .right {
            display: block;
            width: 100%;

            .centered {
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }

    #settings {
        text-align: center;
    }
}
