<div id="settings">
  <h1>Einstellungen</h1>
  <br />
  <hr />
  <h2>Account Daten ändern</h2>
  <div id="wrapper">
    <change-account-settings id="left" [input]="changeEmail" [onSubmit]="'email'"></change-account-settings>
    <change-account-settings id="right" [input]="changePassword" [onSubmit]="'password'"></change-account-settings>
  </div>
  <hr />
  <h2>Automatisches Logout</h2>
  <div id="wrapper">
    <div id="left">
      Warnung zeigen bei <settings-select></settings-select> Minuten 
      <br />
    </div>
    <div id="right">
      Ausloggen bei <settings-select></settings-select> Minuten 
      <br />
    </div>
  </div>
</div>
