.wrapper {
    overflow: hidden; 

    .left {
        float:left;
        width: 40%;
    }

    .right {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 780px) {
    .wrapper {
        .left, .right {
            display: block;
            width: 100%;
        }
    }

    #settings {
        text-align: center;
    }
}
