<div id="settings">
  <h1>Einstellungen</h1>
  <br />
  <hr />
  <h2>Account Daten ändern</h2>
  <div class="wrapper" id="change-account-settings">
    <change-account-settings class="left" [input]="changeEmail" [onSubmit]="'email'"></change-account-settings>
    <change-account-settings class="right" [input]="changePassword" [onSubmit]="'password'"></change-account-settings>
  </div>
  <hr />

  <h2>Automatisches Logout</h2>
  <div class="wrapper" id="logout">
    <div class="left">
      Erste Warnung erhalten nach:
        <settings-select [options]="warningOptions" [type]="'idle'" class="centered"></settings-select>
      <br />
      Aktuell: {{currentSettings.idle || 10}} Minuten
    </div>
    <div class="right">
      Ausloggen nach:
        <settings-select [options]="logoutOptions" [type]="'logOut'" class="centered"></settings-select>
      <br />
      Aktuell: {{currentSettings.logOut || 2}} Minuten
    </div>
  </div>

  <hr />
</div>
