<clr-vertical-nav [clrVerticalNavCollapsible]="false" checked>

  <ng-container *ngFor="let current of sidebarLinks;let i = index">
    <clr-vertical-nav-group routerLinkActive="active" (clrVerticalNavGroupExpandedChange)="changeIcon(i, $event)" *ngIf="parseCondition(current.condition)">

      <clr-icon [attr.shape]="current.icon" clrVerticalNavIcon></clr-icon>
      {{current.title}}

      <clr-vertical-nav-group-children *clrIfExpanded="true">
        <a clrVerticalNavLink routerLink="{{sub.link}}" routerLinkActive="active" *ngFor="let sub of current.links">
          <clr-icon [attr.shape]="sub.icon"></clr-icon>
          {{sub.title}}
        </a>
      </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>

  </ng-container>

  <ng-container *ngIf="user && groups?.length">
    <clr-vertical-nav-group routerLinkActive="active">

      <clr-icon shape="employee-group" clrVerticalNavIcon></clr-icon>
      Meine Gruppen
      <clr-vertical-nav-group-children *clrIfExpanded="true">
        <a clrVerticalNavLink routerLink="/group/{{g.arbeitsgruppenID}}" routerLinkActive="active"
          *ngFor="let g of groups">
          {{g.bezeichnung}}
        </a>
      </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>
  </ng-container>

  <br />

  <a clrVerticalNavLink routerLinkActive="active" routerLink="/credits">
    <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
    Credit
  </a>

</clr-vertical-nav>
