<clr-vertical-nav [clrVerticalNavCollapsible]="false" checked>

  <ng-container *ngFor="let current of sidebarLinks">
    <clr-vertical-nav-group routerLinkActive="active">
      <a hidden aria-hidden="true"></a>
      <clr-icon [attr.shape]="current.icon" clrVerticalNavIcon></clr-icon>
      {{current.title}}
      <clr-vertical-nav-group-children *clrIfExpanded="current === sidebarLinks[0]">
        <ng-container *ngFor="let sub of current.links">
          <a clrVerticalNavLink routerLink="{{sub.link}}" routerLinkActive="active">
            <clr-icon [attr.shape]="sub.icon"></clr-icon>
            {{sub.title}}
          </a>
        </ng-container>
      </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>

  </ng-container>

  <ng-container *ngIf="data.rechteklasse === 'admin' || data.rechteklasse === 'root'">
    <a clrVerticalNavLink routerLinkActive="active" routerLink="./register">
      <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
      Benutzer hinzufügen
    </a>
  </ng-container>

  <a clrVerticalNavLink routerLinkActive="active" routerLink="./credits">
    <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
    Credit
  </a>
  
</clr-vertical-nav>