<div id="employee-panels">
  <clr-accordion [clrAccordionMultiPanel]="true" class="left">
    <clr-accordion-panel *ngFor="let e of employees">
      <clr-accordion-title>
        {{e | employeeName}}
      </clr-accordion-title>
      <clr-accordion-content>
        <table>
          <tr>
            <td>Personalnummer:</td>
            <td><a routerLink="/employee/{{e.personalnummer}}">{{e.personalnummer}}</a></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{e.status}}</td>
          </tr>
          <tr>
            <td>Erreichbar:</td>
            <td>
              <clr-icon shape="check" class="is-success" *ngIf="e.erreichbar"></clr-icon>
              <clr-icon shape="times" class="is-error" *ngIf="!e.erreichbar"></clr-icon>
            </td>
          </tr>
        </table>
        <br />
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>
