<clr-header class="header header-1">
  <div class="branding unselectable" unselectable="on">
    <span class="title">NSJ</span>
  </div>
  <div class="header-nav">
    <a *ngFor="let headerLink of headerLinks" [routerLink]="headerLink.link" routerLinkActive="active"
      class="nav-link nav-icon">
      <clr-icon [attr.shape]="headerLink.icon"></clr-icon>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            {{user?.email || "Sie sind nicht eingeloggt"}}
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a routerLink="/settings" clrDropdownItem>Einstellungen</a>
            <a clrDropdownItem (click)="logout()">Log out</a>
        </clr-dropdown-menu>
    </clr-dropdown>
</div>
</clr-header>
