<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column [clrDgField]="'creation'">Rechteklasse</clr-dg-column>
  <clr-dg-column [clrDgField]="'abteilung'">Abteilung</clr-dg-column>
  <clr-dg-column>Erreichbar</clr-dg-column>
  <clr-dg-column>Personalnummer</clr-dg-column>

  <clr-dg-row *clrDgItems="let u of users; let i = index">  
      <clr-dg-cell><a routerLink="/employee/{{u.personalnummer}}">{{u | employeeName}}</a></clr-dg-cell>
    <clr-dg-cell>{{u.status}}</clr-dg-cell>
    <clr-dg-cell>

      <div class="signpost-item" *ngIf="['root', 'admin'].includes(user.rechteklasse)" style="display: inline-block;">
        <clr-signpost (click)="openModal(i)">
          <clr-icon shape="pencil" class="is-highlight" clrSignpostTrigger></clr-icon>
        </clr-signpost>
        <clr-modal [(clrModalOpen)]="opened[i]">
          <h3 class="modal-title">Rechteklasse ändern</h3>
          <div class="modal-body">
            <form clrForm clrLayout="vertical">
              <clr-select-container>
                <label>Rechtklasse ändern</label>
                <select clrSelect name="options" [(ngModel)]="models[i]">
                  <ng-container *ngFor="let o of opts">
                    <option [value]="o" [selected]="o === user.rechteklasse">{{o | accessRights}}</option>
                  </ng-container>
                </select>
              </clr-select-container>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="close(i)">Abbrechen</button>
            <button type="button" class="btn btn-success-outline" (click)="closeAndSend(i)" [disabled]="!models[i]">Ändern</button>
          </div>
        </clr-modal>
      </div>

      {{u.rechteklasse | accessRights}}

    </clr-dg-cell>
    <clr-dg-cell>{{u.abteilung}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="check" class="is-success" *ngIf="u.erreichbar"></clr-icon>
      <span *ngIf="!u.erreichbar">
        <clr-icon shape="times" class="is-error"></clr-icon>
        {{u.grundDAbw}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>{{u.personalnummer}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    Insgesamt {{users?.length}} Benutzer
  </clr-dg-footer>
</clr-datagrid>
