<div id="employee-panels">
  <clr-accordion [clrAccordionMultiPanel]="toggle" class="left">
    <clr-accordion-panel *ngFor="let e of employees">
      <clr-accordion-title>
        {{e.vorname + " " + e.name}}
      </clr-accordion-title>
      <clr-accordion-content>
        <table>
          <tr>
            <td>Personalnummer:</td>
            <td><a routerLink="/employee/{{e.personalnummer}}">{{e.personalnummer}}</a></td>
          </tr>
          <tr>
            <td>Stauts:</td>
            <td>{{e.status}}</td>
          </tr>
          <tr>
            <td>Anwesend:</td>
            <td>
              <clr-icon shape="check" *ngIf="e.erreichbar"></clr-icon>
              <clr-icon shape="times" *ngIf="!e.erreichbar"></clr-icon>
            </td>
          </tr>
        </table>
        <br />
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
  <button class="btn" (click)="toggleView()">Toggle</button>
</div>
