#employee-panels {
  width: 80%;

  table {
    border: none;
    width: 100%;
    text-align: center;

    tr {
      text-align: left;

      td {
        text-align: left;
        width: 50%;
      }
    }
  }
}