<div id="group-stats">
  <div class="wrapper">
    <div class="left">
      <h2>
        {{group.bezeichnung}}
      </h2>
    </div>
    <div class="right">
      <div class="clr-row">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card">
            <div class="card-header">
              <a routerLink="/employee/{{leader.personalnummer}}">
                Leiter: {{leader | employeeName}}
              </a>
            </div>
            <div class="card-block">
              <div class="card-title">
              </div>
              <div class="card-text">
                <table>
                  <tr>
                    <td>
                      Erreichbar:
                    </td>
                    <td>
                      <clr-icon shape="check" class="is-success" *ngIf="leader.erreichbar"></clr-icon>
                      <clr-icon shape="times" class="is-error" *ngIf="!leader.erreichbar"></clr-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Status:
                    </td>
                    <td>
                      {{leader.status}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Erreichbar</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column [clrDgColType]="'number'">Personalnummer</clr-dg-column>

    <clr-dg-placeholder>Lädt...</clr-dg-placeholder>

    <clr-dg-row *ngFor="let m of members" [class.leader_row]="m.personalnummer === group.leiter">
      <clr-dg-cell>
        <a routerLink="/employee/{{m?.personalnummer}}">
          {{m | employeeName}}
        </a>
      </clr-dg-cell>
      <clr-dg-cell>
        <clr-icon shape="check" class="is-success" *ngIf="m.erreichbar"></clr-icon>
        <clr-icon shape="times" class="is-error" *ngIf="!m.erreichbar"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell>{{m?.status}}</clr-dg-cell>
      <clr-dg-cell>{{m?.personalnummer}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{members?.length || 0}} Mitglieder</clr-dg-footer>
  </clr-datagrid>

</div>
