<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'sm'">
  <h3 class="modal-title">Arbeitsgruppe bearbeiten</h3>
  
  <div class="modal-body">
    <clr-input-container>
      <label *ngIf="mode === 'remove'">Wer soll aus der Gruppe entfernt werden?</label>
      <label *ngIf="mode === 'add'">Wer soll zur Gruppe hinzugefügt werden?</label>
      <input clrInput required minlength="12" maxlength="12" placeholder="Name?" [(ngModel)]="id" name="name" #name="ngModel" />
      <clr-control-error>Bitte geben Sie die 12-stellige Personalnummer an</clr-control-error>
    </clr-input-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="closeAndSend()">Ok</button>
  </div>
</clr-modal>
